/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap";

body {
  ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}
.tool {
  height: 35px;
  background-color: #EEEDEE;
  color: #7A7A7B;
  //font-size: 15px;
  padding-top: 5px;
  a{
    color: #7A7A7B;
  }
}

.menu{
  height: 130px;
    .navbar-brand{
      padding-top: 30px;
      padding-left: 0px;
      li{
        color: #EA3F8E;
      }
    }
    .justify-content-end{
      padding-top: 44px;
      li{
        a:hover{
          color: #EA3F8E;
          background-color: white;
          box-shadow: inset 0 -2px 0 0 #EA3F8E;
        }
      }
    }
}

.main-carousel{
  .carousel{
    .carousel-inner{
      img{
        width:100%;
        height: 587px;
        object-fit: cover;
      }
      .carousel-caption{
        h3{
          font-size: 50px;
        }
        p{
          font-size: 25px;
        }
      }
    }
  }
}



