<!--<div class="container-fulid top">-->
<!--  <div class="container menu" >-->
<!--    <nav class="navbar menu">-->
<!--      <div class="container-fluid">-->
<!--        <ul class="nav ">-->
<!--          <li class="active">Home</li>-->
<!--        </ul>-->
<!--        <ul class="nav nav-right">-->
<!--          <li>Contact</li>-->
<!--          <li>About</li>-->
<!--          <li>Product</li>-->
<!--          <li>Login</li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </nav>-->
<!--    <p class="title">THIS IS MY HOME PAGE</p>-->
<!--    <p class="sub-title" >Simple web use boostrap</p>-->
<!--  </div>-->

<!--  <div class=" container input-group">-->
<!--    <label><input type="email" class="form-control" size="50" placeholder="Search"></label>-->
<!--    <div class="input-group-btn">-->
<!--      <button type="button" class="btn btn-danger">SEARCH</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
